/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  margin: 0;
  /* #ccc is shorthand HEX for a light grey */
  background: #ccc;
  font-family: "Arial";
  font-size: 13px;
}


.OuterPanel {
    position: absolute;
    padding: 0px;
    width: 100%;
    height: 99%;
    display: inline;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
}
.HeaderPanel {
    width: 100%;
    height: 55px;
    background-color: #f2f2f2;
    color: #FFF;
    list-style: none;
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;

}

.nav {
  text-decoration: none;
  background-color: #cbbb74;
  border-radius: 15px;
  padding: 12px 24px 12px 24px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  color: white;
  margin-top: 13.75px;
  justify-content: flex-end;
}
.LogoLink {
    float: left;
    width: 200px;
    height: 55px;
    padding-right: 10px;
    background-origin: content-box;
    background-image: url("../images/gwlogo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-end;
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;

}

.NavigationPanel {
    top: 55px;
    bottom: 0px;
    height: 100%;
    width: 50px;
    background-color: #cbbb74;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    align: left;
    color: #FFF;
    overflow: hidden;
    margin: 0px;
  }

.MainPanel {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-grow: 1;
    background-color: #14425d;
    justify-content: space-around;
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;

}

#iconbutton, #moduleload, #supportload, #homeload {
  height: 50px;
  width: 50px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

#supportload {
  padding: 0;
}

.navbuttons {
  width: 50px;
  height: 50px;
  -webkit-animation: fadeEffect 2s;
  animation: fadeEffect 2s;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;

}

@-webkit-keyframes fadeEffect{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.CommandPanel {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
  vertical-align: middle;
}


object {
  width: 100%;

}

h1 {
  font-size: 38px;
  padding-left: 10px;
}

p {
  padding-left: 5px;
}

.WelcomePanel {
  width: 400px;
  height: 200px;
  background-color: rgba(0,0,0,0.4);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-flex-flow: row wrap;
  align-self: center;
  color: #fff;
  align-content: center;
}



@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .WelcomePanel {
    width: 200px;
    height: 100px;
  }
  h1 {
    font-size: 19px;
    padding-left: 10px;
  }
}

@media all and (max-width: 600px) {

  }
